<div class="container">
  <h1>Demo</h1>
  <div id="activities"></div>
  <div style="clear: left;"><button id="load" class="btn btn-primary btn-lg btn-block"><i class="fa fa-ellipsis-h"></i> 続きを読み込む</button></div>
</div>
<script id="activity-template" type="text/x-handlebars-template">
  {{#each articles}}
  <article class="activity">
    <h2><a href="{{link_url}}">{{title}}</a></h2>
    <ul>
      <li><i class="fa fa-globe"></i> <a href="{{source_link_url}}">{{source_name}}</a></li>
      <li><i class="fa fa-user"></i> <a href="{{member_link_url}}">{{member_name}}</a></li>
      <li><time datetime="{{published_at_iso8601}}"><i class="fa fa-clock-o"></i> {{published_at}}</time></li>
    </ul>
  </article>
  {{/each}}
</script>
<div id="no-more-articles-template">
  <article class="activity">もうなにもありません</article>
</div>
