!!! 5
%html
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'viewport', content: 'initial-scale=1.0, user-scalable=no' }
    = stylesheet_link_tag '/stylesheets/youstrap-s.min.css'
    %title Merge RSS JSON REST API Specs
  %body
    .container
      = yield
