!!! 5
%html
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'viewport', content: 'initial-scale=1.0, user-scalable=no' }
    = stylesheet_link_tag 'application'
    = javascript_include_tag '/javascripts/jquery-2.1.0.min.js', 'application'
    %title Merge RSS JSON REST API DEMO
  %body
    = yield
